.page-header {
	margin-top: 0;
	padding-top: 0;
	background: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.6)), url('images/department-store.png');
	height: 400px;
	color: white;
}

h1 {
	position: absolute;
	padding-left: 1%;
	top: 320px;
}

.card {
/*	display: inline-block;*/
	margin: 1% 0 1% 5%;
	height: 200px;
	border: 1px solid black;
}

.sale {
	border: 2px solid red;
}

.discounted {
	color: red;
	font-weight: bold;
}

.discount-bar {
	padding-left: 5%;
	margin-left: 5%;
}